/*general page info*/
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

main {
    position: relative;
}

.ms_nav_bar {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 500;
}

.ms_nav-stick {
    position: relative;
}

.ms_container {
    display: flex;
    height: calc(100vh - 60px);
}

.ms_side_bar {
    margin-top: 60px;
    width: 80px;
    height: 100%;
    background: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.ms_central_container {
    overflow: scroll;
    margin-top: 60px;
    width: calc(100vw - 80px);
    height: 100%;
}

.ms_sm_view {
    width: 45px;
}

.ms_lg_view {
    display: none;
}

.ms_sm_view_central_nav {
    display: inline;
}

.ms_lg_view_central_nav {
    display: none;
}

/*navbar*/

.ms_lg_view .ms_logo_mobile {
    width: 150px;
    height: 45px;
}

.ms_nav_bar span, .ms_nav_bar input {
    background-color: #e5e5e5;
    border: none;
}

.ms_icon_pointer {
    cursor: pointer;
}

/*sidebar*/

.ms_side_bar_container {
    height: calc(100% - 16px);
    width: 70%;
    margin: 0 auto;
}

.ms_side_bar ul, .ms_main_content ul, .ms_side_bar a {
    list-style-type: none;
    text-decoration: none;
}

/*central content*/

/*central content navbar*/
.ms_main_content_nav_bar {
    background-color: #1b72e8;
}

.ms_container_central_nav {
    width: 95%;
    margin: auto;
    padding: 10px 0;
}

.ms_width {
    min-width: 100%;
}
 
.ms_backgound_color {
    background-color: #e9ecef;
}

.ms_input_height {
    padding: 6px 12px;
}

.ms_main_content_nav_bar a{
    text-decoration: none;
}

/*central main content*/
.ms_main_container_classes_faq {
    min-height: 500px;
    width: 95%;
    margin: 0 auto;
}

.ms_main_container_todo {
    min-height: 500px;
    width: 95%;
    margin: 0 auto;
}

.ms_main_content img {
    width: 25px;
}

.ms_main_content i {
    padding: 12px 7px;
    margin-right: 5px;
}

.ms_state_padding {
    font-size: 12px;
    padding: 1px 6px;
}

.ms_sm_view_central {
    display: none;
}

@media all and (min-width:767px) {

    .ms_sm_view_central {
        display: block;
    }
}

@media all and (min-width: 992px) {

    /*general info*/
    .ms_sm_view {
        display: none;
    }

    .ms_lg_view {
        display: flex;
    }

    /*sidebar*/
    .ms_side_bar {
        width: 160px;
    }

    .ms_side_bar .ms_lg_view:hover {
        background-color: #ffffff50;
    }

    /*nav and stats page*/
    .ms_width {
        min-width: 50%;
    }

    .ms_sm_view_central_nav {
        display: none;
    }
    
    .ms_lg_view_central_nav {
        display: inline;
    }

    .ms_main_container_classes_faq {
        width: 67.5%;
        margin: 0 auto;
    }
    
    .ms_main_container_todo {
        width: 27.5%;
        margin: 0 auto;
    }
}